Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/platform-logging.yml, pipelines/policy.yml

Path conditions:
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml

Remove need to transpile bicep before moving subscription
  pipelines/platform-connectivity-hub-nva.yml
  pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
Due: none

Fix: Ensure template directory is used when referencing move bicep template
  pipelines/templates/steps/move-subscription.yml
Due: none

Remove unused params/vars & ensure groups are passed for RBAC
  landingzones/lz-machinelearning/main.bicep
Due: none

Remove unused parameter
  landingzones/lz-platform-logging/main.bicep
Due: pipelines/platform-logging.yml

Remove unnecessary string interpolation
  landingzones/lz-platform-connectivity-hub-nva/lb-firewalls-hub-backup.bicep
  landingzones/lz-platform-connectivity-hub-nva/lb-firewalls-hub.bicep
Due: none

Add ASC policy to deploy AzDefender for ACR
  policy/custom/definitions/policy/ASC-Deploy-Defender-ACR/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-ACR/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-ACR/azurepolicy.rules.json
Due: pipelines/policy.yml

Rename policy
  policy/custom/definitions/policy/ASC-Deploy-Defender-ACR/azurepolicy.config.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for AKS
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKS/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKS/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKS/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for AKV
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKV/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKV/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKV/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for App Service
  policy/custom/definitions/policy/ASC-Deploy-Defender-AppService/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AppService/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AppService/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for ARM
  policy/custom/definitions/policy/ASC-Deploy-Defender-ARM/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-ARM/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-ARM/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for DNS
  policy/custom/definitions/policy/ASC-Deploy-Defender-DNS/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-DNS/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-DNS/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for SQLDB
  policy/custom/definitions/policy/ASC-Deploy-Defender-SQLDB/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-SQLDB/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-SQLDB/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for SQL on VM
  policy/custom/definitions/policy/ASC-Deploy-Defender-SQLDBVM/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-SQLDBVM/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-SQLDBVM/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for SQL on Storage Account
  policy/custom/definitions/policy/ASC-Deploy-Defender-Storage/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-Storage/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-Storage/azurepolicy.rules.json
Due: pipelines/policy.yml

Add ASC policy to deploy AzDefender for VM
  policy/custom/definitions/policy/ASC-Deploy-Defender-VM/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-VM/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-VM/azurepolicy.rules.json
Due: pipelines/policy.yml

Update Policy Initiative for ASC with new deployIfNotExists policies for AzDefender
  policy/custom/definitions/policyset/EnableAzureDefender.bicep
Due: pipelines/policy.yml

Add OpenSourceRelationalDatabases to AzDefender
  azresources/security-center/enable-asc.bicep
Due: none

Add ASC policy to deploy AzDefender for OSS DBs
  policy/custom/definitions/policy/ASC-Deploy-Defender-OSSDB/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-OSSDB/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-OSSDB/azurepolicy.rules.json
  policy/custom/definitions/policyset/EnableAzureDefender.bicep
Due: pipelines/policy.yml

Fix: policy definitions for initiative to remove duplicate policies
  policy/custom/definitions/policyset/EnableAzureDefender.bicep
Due: pipelines/policy.yml

Remove AuditIfNotExists policies in favour of DeployIfNotExists policy for Azure Defender
  policy/custom/definitions/policyset/EnableAzureDefender.bicep
Due: pipelines/policy.yml

Rename policy definition
  policy/custom/definitions/policy/ASC-Deploy-Defender-ACR/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKS/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-AKV/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-ARM/azurepolicy.config.json
Due: pipelines/policy.yml

Update ML LZ - use network acl for sql vul. storage account & parameterize IR VM size
  azresources/sql/sqldb.bicep
  azresources/storage/storagev2-logging.bicep
  azresources/storage/storagev2.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
Due: none

Add readme to explain subscription config
  config/subscriptions/README.md
Due: none

move firewall secrets to variable group
  config/variables/CanadaESLZ-main.yml
  pipelines/platform-connectivity-hub-nva.yml
Due: none

Remove duplicate params
  pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
Due: none

Resolve #3 - sqlmi vul. assessment using network restricted storage account
  azresources/storage/storagev2.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/networking.bicep
Due: none

#4 - Reorganize hub network parameters
  config/variables/CanadaESLZ-main.yml
Due: none

#4 - Add example ML Landing Zone config
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning.json
Due: none

Don't deploy SQLMI in example
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning.json
Due: none

#4 - Change logging subscription
  config/variables/CanadaESLZ-main.yml
Due: none

#4 - Update sqlmi vul. settings
  azresources/sql/sqlmi.bicep
  landingzones/lz-machinelearning/lz.bicep
Due: none

Enable SQLMI
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning.json
Due: none

Re-IP hub networking
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning.json
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/ubuntu-fw.sh
Due: none

#7 - Add wait module to simulate waiting on arm
  azresources/util/wait.bicep
  azresources/util/waitOnARM.bicep
Due: none

#7 - Add disclaimer
  azresources/util/delete-lock.bicep
  azresources/util/wait.bicep
  azresources/util/waitOnARM.bicep
Due: none

#6 - added default NSG template
  azresources/network/nsg/nsg-empty.bicep
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz-vnet.bicep
Due: none

Enable SQLMI part of example deployment.
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning.json
Due: none

#11 - Update NSG rules for Public Access Zone to allow appgw traffic
  azresources/network/nsg/nsg-appgwv2.bicep
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
Due: none

#11 - Uset port filtering for destination
  azresources/network/nsg/nsg-appgwv2.bicep
Due: none
