Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/platform-logging.yml, pipelines/policy.yml

pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

Remove ICMP inbound/outbound rule
  azresources/network/nsg/nsg-allowall.bicep
Due: none

Ensure inbound access is allowed for FWs via transit, prod and dev traffic subnets
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
Due: none

Rename symbolic name
  azresources/network/vnet-peering.bicep
Due: none

#14 - Add example for generic subscription landing zone for ISVs to use
  isv/SampleGenericSubscription/main.bicep
  isv/SampleGenericSubscription/networking.bicep
Due: none

#14 add reademe for deployment instruction
  isv/SampleGenericSubscription/readme.md
Due: none

#15 - Pre-create network watcher RG
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
Due: none

#12 - Add ddos standard plan as module
  azresources/network/ddos-standard.bicep
Due: none

#12 Output ddos plan id
  azresources/network/ddos-standard.bicep
Due: none

#12 Update Hub Networking to optionally enable ddos standard plan
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz-vnet.bicep
  pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
Due: none

#12 - Enable ddos standard plan by default
  config/variables/CanadaESLZ-main.yml
Due: none

#12 - set prop enableDdosProtection
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz-vnet.bicep
Due: none

Merged PR 11: Enable feature to optionally deploy FW NVAs
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-platform-connectivity-hub-nva/lb-firewalls-hub-backup.bicep
  landingzones/lz-platform-connectivity-hub-nva/lb-firewalls-hub.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
Due: none

Merged PR 12: Update parameter naming convention to camel case
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-platform-connectivity-hub-nva/fortinet-vm.bicep
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/lb-firewalls-hub.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/ubuntu-fw-vm.bicep
  landingzones/utils/bicep-vars-to-yaml.ps1
  pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
Due: none

Merged PR 13: Update landing zone subscription parameter file examples
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning.json
Due: none

Merged PR 14: Ensure Azure Policy is used to enable DDOS Standard on all VNETs
  pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  policy/custom/assignments/ddos.bicep
Due: pipelines/policy.yml

updated for health care architecture and added synapse
  azresources/compute/synapse.bicep
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-healthcare/networking.bicep
Due: none

adding back lz-machinelearning folder
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-machinelearning/networking.bicep
Due: none

parameters update
  landingzones/lz-healthcare/main.bicep
Due: none

parameters
  landingzones/lz-healthcare/main.parameters-sample.json
Due: none

Merged PR 15: #27 - Add policy for Synapse workspace
  policy/custom/definitions/policy/LA-Microsoft.Synapse-workspaces/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Synapse-workspaces/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Synapse-workspaces/azurepolicy.rules.json
  policy/custom/definitions/policyset/EnableLogAnalytics.bicep
Due: pipelines/policy.yml

Merged PR 16: Fix Synapse Analytics LAW integration rule
  policy/custom/definitions/policy/LA-Microsoft.Synapse-workspaces/azurepolicy.rules.json
Due: pipelines/policy.yml

Merged PR 17: Add Azure Policies to integrate PaaS services to Log Analytics workspace
  policy/custom/definitions/policy/LA-Microsoft.CognitiveServices-accounts-CognitiveServices/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.CognitiveServices-accounts-CognitiveServices/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.CognitiveServices-accounts-CognitiveServices/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.HealthcareApis-services-fhir-R4/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.HealthcareApis-services-fhir-R4/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.HealthcareApis-services-fhir-R4/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.HealthcareApis-services-fhir-STU3/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.HealthcareApis-services-fhir-STU3/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.HealthcareApis-services-fhir-STU3/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.Search-searchServices/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Search-searchServices/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Search-searchServices/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.StreamAnalytics-streamingjob/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.StreamAnalytics-streamingjob/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.StreamAnalytics-streamingjob/azurepolicy.rules.json
  policy/custom/definitions/policyset/EnableLogAnalytics.bicep
Due: pipelines/policy.yml

Merged PR 18: Remove redundant policies in favor of built-ins
  policy/custom/definitions/policy/LA-Microsoft.Search-searchServices/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Search-searchServices/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Search-searchServices/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.StreamAnalytics-streamingjob/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.StreamAnalytics-streamingjob/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.StreamAnalytics-streamingjob/azurepolicy.rules.json
  policy/custom/definitions/policyset/EnableLogAnalytics.bicep
Due: pipelines/policy.yml

Merged PR 19: add initiatives for AKS pod security
  policy/custom/definitions/policyset/AKS.bicep
Due: pipelines/policy.yml

Merged PR 20: Fix AKS policy set assignment
  policy/custom/assignments/aks.bicep
Due: pipelines/policy.yml

Merged PR 22: Ensure policy sets are removed from custom initiative
  policy/custom/definitions/policyset/AKS.bicep
Due: pipelines/policy.yml

Merged PR 23: Merge & Fix AKS custom initiative
  policy/custom/definitions/policyset/AKS.bicep
Due: pipelines/policy.yml

Merged PR 24: Improve AKS + kubenet automation
  azresources/compute/aks-kubenet.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  pipelines/templates/steps/deploy-platform-logging.yml
Due: pipelines/platform-logging.yml

Merged PR 25: Fix linter warnings for policy definitions & assignments
  pipelines/policy.yml
  pipelines/templates/steps/assign-policy.yml
  pipelines/templates/steps/define-policyset.yml
  pipelines/templates/steps/show-variables.yml
  policy/builtin/assignments/asb.bicep
  policy/builtin/assignments/asb.properties.json
  policy/builtin/assignments/cis-msft-130.bicep
  policy/builtin/assignments/cis-msft-130.properties.json
  policy/builtin/assignments/location.bicep
  policy/builtin/assignments/location.properties.json
  policy/builtin/assignments/nist80053r4.bicep
  policy/builtin/assignments/nist80053r4.properties.json
  policy/builtin/assignments/pbmm.bicep
  policy/builtin/assignments/pbmm.properties.json
  policy/custom/assignments/aks.bicep
  policy/custom/assignments/aks.properties.json
  policy/custom/assignments/asc.bicep
  policy/custom/assignments/asc.properties.json
  policy/custom/assignments/ddos.bicep
  policy/custom/assignments/ddos.properties.json
  policy/custom/assignments/loganalytics.bicep
  policy/custom/assignments/loganalytics.properties.json
  policy/custom/assignments/network.bicep
  policy/custom/assignments/network.properties.json
  policy/custom/assignments/tags.bicep
  policy/custom/assignments/tags.properties.json
  policy/custom/definitions/policyset/AKS.bicep
  policy/custom/definitions/policyset/AKS.properties.json
  policy/custom/definitions/policyset/EnableAzureDefender.bicep
  policy/custom/definitions/policyset/EnableAzureDefender.properties.json
  policy/custom/definitions/policyset/EnableLogAnalytics.bicep
  policy/custom/definitions/policyset/EnableLogAnalytics.properties.json
  policy/custom/definitions/policyset/Network.bicep
  policy/custom/definitions/policyset/Network.properties.json
  policy/custom/definitions/policyset/Tags.bicep
  policy/custom/definitions/policyset/Tags.properties.json
Due: pipelines/policy.yml

Merged PR 26: Remove obsolete pipeline step & enforce stricter bicep linter rules
  bicepconfig.json
  pipelines/templates/steps/transpile-bicep.yml
Due: none

Merged PR 27: Ensure role assignments are by resource
  azresources/iam/resource/keyVaultRoleAssignmentToSP.bicep
  azresources/iam/resource/resourceGroupRoleAssignmentToSP.bicep
  azresources/security/key-vault.bicep
  azresources/sql/sqldb.bicep
  azresources/sql/sqlmi.bicep
  landingzones/lz-machinelearning/lz.bicep
Due: none

Merged PR 28: Ensure multiple landing zones can be deployed in a single execution
  pipelines/templates/jobs/deploy-subscription.yml
  pipelines/templates/steps/config-subscription.yml
  pipelines/templates/steps/move-subscription.yml
Due: none

updated to specific key vault role assignment for adf
  landingzones/lz-healthcare/lz.bicep
Due: none

Merged PR 29: First FHIR Template
  azresources/compute/fhir.bicep
Due: none

Merged PR 30: Enable customer managed keys for storage accounts
  azresources/iam/userAssignedIdentity.bicep
  azresources/security/cmk/storage-account.bicep
  azresources/security/key-vault-key-rsa2048.bicep
  azresources/security/key-vault.bicep
  azresources/storage/adlsgen2.bicep
  azresources/storage/storagev2.bicep
  azresources/util/deploymentScript.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning.json
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
Due: none

config change
  landingzones/lz-healthcare/main.parameters-sample.json
Due: none

Merged PR 31: Refactor CMK for Storage Account deployment script
  azresources/security/cmk/storage-account.bicep
Due: none

Merged PR 32: Refactor CMK for Storage implementation
  azresources/iam/resource/keyVaultRoleAssignmentToSP.bicep
  azresources/iam/resource/storageRoleAssignmentToSP.bicep
  azresources/iam/resourceGroupRoleAssignmentToSP.bicep
  azresources/security/cmk/storage-account.bicep
  azresources/storage/storage-adlsgen2.bicep
  azresources/storage/storage-enable-cmk.bicep
  azresources/storage/storage-generalpurpose.bicep
  azresources/storage/storagev2-cloudshell.bicep
  azresources/util/deploymentScript.bicep
  azresources/util/wait.bicep
  azresources/util/waitOnARM.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning.json
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
Due: none

Merged PR 33: Ensure name is unique when parallel deployments at subscription scope are exe...
  landingzones/utils/network/peer-to-hub.bicep
Due: none

Path conditions:
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml
