Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/management-groups.yml, .pipelines/platform-logging.yml, .pipelines/policy.yml, .pipelines/roles.yml, pipelines/platform-logging.yml, pipelines/policy.yml

Path conditions:
  .pipelines/management-groups.yml: any of: management-groups, .pipelines/management-groups.yml, .pipelines/templates/steps/deploy-management-groups.yml
  .pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, .pipelines/platform-logging.yml, .pipelines/templates/steps/deploy-platform-logging.yml
  .pipelines/policy.yml: any of: policy, .pipelines/policy.yml, .pipelines/templates/steps/deploy-policy.yml
  .pipelines/roles.yml: any of: roles, .pipelines/roles.yml
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml

Network security group support for private endpoints subnet
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/networking.bicep
Due: none

Suppress false positive linter warning: secure-secrets-in-params
  azresources/security/key-vault-secret.bicep
Due: none

Update diagnostic settings profile name
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Custom diagnostic settings policy for Event Hubs
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Align diagnostic setting profile name with the built-in policy
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Support data collection rule (#331)
  azresources/monitor/dcr-azure-monitor-logs.bicep
  config/logging/CanadaESLZ-main/logging.parameters.json
  docs/archetypes/logging.md
  docs/media/architecture/archetype-logging.jpg
  docs/onboarding/azure-devops-pipelines.md
  docs/visio/05 - Archetypes.vsdx
  landingzones/lz-platform-logging/main.bicep
  schemas/latest/landingzones/lz-platform-logging.json
  schemas/latest/readme.md
  tests/schemas/lz-platform-logging/BudgetIsFalse.json
  tests/schemas/lz-platform-logging/EmptyResourceTags.json
  tests/schemas/lz-platform-logging/EmptySubscriptionTags.json
  tests/schemas/lz-platform-logging/FullDeployment-With-Location.json
  tests/schemas/lz-platform-logging/FullDeployment.json
  tests/schemas/lz-platform-logging/WithoutSubscriptionRoleAssignments.json
Due: .pipelines/platform-logging.yml, pipelines/platform-logging.yml

Network security group support for private endpoints subnet (#333)
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/networking.bicep
Due: none

Suppress false positive linter warning: secure-secrets-in-params (#335)
  azresources/security/key-vault-secret.bicep
Due: none

Update diagnostic settings profile name (#337)
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Revised Event Hub Diagnostic Settings policy (#339)
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Update from upstream
  azresources/containers/aks/aks-with-cmk.bicep
  azresources/containers/aks/aks-without-cmk.bicep
  azresources/monitor/dcr-azure-monitor-logs.bicep
  azresources/security/key-vault-secret.bicep
  config/logging/CanadaESLZ-main/logging.parameters.json
  docs/archetypes/logging.md
  docs/archetypes/machinelearning.md
  docs/media/architecture/archetype-logging.jpg
  docs/onboarding/azure-devops-pipelines.md
  landingzones/lz-generic-subscription/networking.bicep
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/networking.bicep
  landingzones/lz-platform-connectivity-hub-azfw/azfw-policy/azure-firewall-policy.bicep
  landingzones/lz-platform-connectivity-hub-azfw/mrz/mrz-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz/mrz-vnet.bicep
  landingzones/lz-platform-logging/main.bicep
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
  policy/custom/definitions/policyset/Tags.bicep
  schemas/latest/landingzones/lz-platform-logging.json
  schemas/latest/readme.md
  tests/schemas/lz-platform-logging/BudgetIsFalse.json
  tests/schemas/lz-platform-logging/EmptyResourceTags.json
  tests/schemas/lz-platform-logging/EmptySubscriptionTags.json
  tests/schemas/lz-platform-logging/FullDeployment-With-Location.json
  tests/schemas/lz-platform-logging/WithoutSubscriptionRoleAssignments.json
Due: .pipelines/platform-logging.yml, .pipelines/policy.yml, pipelines/platform-logging.yml, pipelines/policy.yml

Update from upstream (#22)
  azresources/containers/aks/aks-with-cmk.bicep
  azresources/containers/aks/aks-without-cmk.bicep
  azresources/monitor/dcr-azure-monitor-logs.bicep
  azresources/security/key-vault-secret.bicep
  config/logging/CanadaESLZ-main/logging.parameters.json
  config/logging/cdssnc-main/logging.parameters.json
  docs/archetypes/logging.md
  docs/archetypes/machinelearning.md
  docs/media/architecture/archetype-logging.jpg
  docs/onboarding/azure-devops-pipelines.md
  landingzones/lz-generic-subscription/networking.bicep
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/networking.bicep
  landingzones/lz-platform-connectivity-hub-azfw/azfw-policy/azure-firewall-policy.bicep
  landingzones/lz-platform-connectivity-hub-azfw/mrz/mrz-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz/mrz-vnet.bicep
  landingzones/lz-platform-logging/main.bicep
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.EventHub-namespaces/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
  policy/custom/definitions/policyset/Tags.bicep
  schemas/latest/landingzones/lz-platform-logging.json
  schemas/latest/readme.md
  tests/schemas/lz-platform-logging/BudgetIsFalse.json
  tests/schemas/lz-platform-logging/EmptyResourceTags.json
  tests/schemas/lz-platform-logging/EmptySubscriptionTags.json
  tests/schemas/lz-platform-logging/FullDeployment-With-Location.json
  tests/schemas/lz-platform-logging/WithoutSubscriptionRoleAssignments.json
Due: .pipelines/platform-logging.yml, .pipelines/policy.yml, pipelines/platform-logging.yml, pipelines/policy.yml

version August 2022 schema changes
  schemas/v0.6.0/landingzones/lz-generic-subscription.json
  schemas/v0.6.0/landingzones/lz-healthcare.json
  schemas/v0.6.0/landingzones/lz-machinelearning.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-azfw-policy.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-azfw.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-nva.json
  schemas/v0.6.0/landingzones/lz-platform-logging.json
  schemas/v0.6.0/landingzones/types/aks.json
  schemas/v0.6.0/landingzones/types/aml.json
  schemas/v0.6.0/landingzones/types/appServiceLinuxContainer.json
  schemas/v0.6.0/landingzones/types/automation.json
  schemas/v0.6.0/landingzones/types/backupRecoveryVault.json
  schemas/v0.6.0/landingzones/types/hubNetwork.json
  schemas/v0.6.0/landingzones/types/keyVault.json
  schemas/v0.6.0/landingzones/types/location.json
  schemas/v0.6.0/landingzones/types/logAnalyticsWorkspaceId.json
  schemas/v0.6.0/landingzones/types/resourceTags.json
  schemas/v0.6.0/landingzones/types/securityCenter.json
  schemas/v0.6.0/landingzones/types/serviceHealthAlerts.json
  schemas/v0.6.0/landingzones/types/sqldb.json
  schemas/v0.6.0/landingzones/types/sqlmi.json
  schemas/v0.6.0/landingzones/types/subscriptionBudget.json
  schemas/v0.6.0/landingzones/types/subscriptionRoleAssignments.json
  schemas/v0.6.0/landingzones/types/subscriptionTags.json
  schemas/v0.6.0/landingzones/types/synapse.json
  schemas/v0.6.0/readme.md
Due: none

Version August 2022 schema changes (#342)
  schemas/v0.6.0/landingzones/lz-generic-subscription.json
  schemas/v0.6.0/landingzones/lz-healthcare.json
  schemas/v0.6.0/landingzones/lz-machinelearning.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-azfw-policy.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-azfw.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-nva.json
  schemas/v0.6.0/landingzones/lz-platform-logging.json
  schemas/v0.6.0/landingzones/types/aks.json
  schemas/v0.6.0/landingzones/types/aml.json
  schemas/v0.6.0/landingzones/types/appServiceLinuxContainer.json
  schemas/v0.6.0/landingzones/types/automation.json
  schemas/v0.6.0/landingzones/types/backupRecoveryVault.json
  schemas/v0.6.0/landingzones/types/hubNetwork.json
  schemas/v0.6.0/landingzones/types/keyVault.json
  schemas/v0.6.0/landingzones/types/location.json
  schemas/v0.6.0/landingzones/types/logAnalyticsWorkspaceId.json
  schemas/v0.6.0/landingzones/types/resourceTags.json
  schemas/v0.6.0/landingzones/types/securityCenter.json
  schemas/v0.6.0/landingzones/types/serviceHealthAlerts.json
  schemas/v0.6.0/landingzones/types/sqldb.json
  schemas/v0.6.0/landingzones/types/sqlmi.json
  schemas/v0.6.0/landingzones/types/subscriptionBudget.json
  schemas/v0.6.0/landingzones/types/subscriptionRoleAssignments.json
  schemas/v0.6.0/landingzones/types/subscriptionTags.json
  schemas/v0.6.0/landingzones/types/synapse.json
  schemas/v0.6.0/readme.md
Due: none

Update azure-devops-pipelines.md
  docs/onboarding/azure-devops-pipelines.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#344)
  .github/CODEOWNERS
Due: none

Squashed commit of the following: (#24)
  .github/CODEOWNERS
  schemas/v0.6.0/landingzones/lz-generic-subscription.json
  schemas/v0.6.0/landingzones/lz-healthcare.json
  schemas/v0.6.0/landingzones/lz-machinelearning.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-azfw-policy.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-azfw.json
  schemas/v0.6.0/landingzones/lz-platform-connectivity-hub-nva.json
  schemas/v0.6.0/landingzones/lz-platform-logging.json
  schemas/v0.6.0/landingzones/types/aks.json
  schemas/v0.6.0/landingzones/types/aml.json
  schemas/v0.6.0/landingzones/types/appServiceLinuxContainer.json
  schemas/v0.6.0/landingzones/types/automation.json
  schemas/v0.6.0/landingzones/types/backupRecoveryVault.json
  schemas/v0.6.0/landingzones/types/hubNetwork.json
  schemas/v0.6.0/landingzones/types/keyVault.json
  schemas/v0.6.0/landingzones/types/location.json
  schemas/v0.6.0/landingzones/types/logAnalyticsWorkspaceId.json
  schemas/v0.6.0/landingzones/types/resourceTags.json
  schemas/v0.6.0/landingzones/types/securityCenter.json
  schemas/v0.6.0/landingzones/types/serviceHealthAlerts.json
  schemas/v0.6.0/landingzones/types/sqldb.json
  schemas/v0.6.0/landingzones/types/sqlmi.json
  schemas/v0.6.0/landingzones/types/subscriptionBudget.json
  schemas/v0.6.0/landingzones/types/subscriptionRoleAssignments.json
  schemas/v0.6.0/landingzones/types/subscriptionTags.json
  schemas/v0.6.0/landingzones/types/synapse.json
  schemas/v0.6.0/readme.md
  tests/schemas/lz-generic-subscription/FullDeployment-With-Location.json
  tests/schemas/lz-machinelearning/FullDeployment-With-Location.json
  tests/schemas/lz-machinelearning/FullDeployment-With-OptionalSubnets.json
Due: none

Update hubnetwork-azfw.md
  docs/archetypes/hubnetwork-azfw.md
Due: none

Add Barry to code owners list
  .github/CODEOWNERS
Due: none

Add Barry to code owners list (#346)
  .github/CODEOWNERS
Due: none

Update hubnetwork-azfw.md (#345)
  docs/archetypes/hubnetwork-azfw.md
Due: none

Fixed BCP321 Linter warning in networking files
  landingzones/lz-generic-subscription/networking.bicep
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/networking.bicep
Due: none

Fixed Role Definition Id References to use the ResourceId function
  policy/builtin/assignments/fedramp-moderate.bicep
  policy/builtin/assignments/hitrust-hipaa.bicep
  policy/builtin/assignments/location.bicep
  policy/builtin/assignments/nist80053r4.bicep
  policy/builtin/assignments/nist80053r5.bicep
  policy/builtin/assignments/pbmm.bicep
  policy/custom/assignments/AKS.bicep
  policy/custom/assignments/DDoS.bicep
  policy/custom/assignments/DNSPrivateEndpoints.bicep
  policy/custom/assignments/DefenderForCloud.bicep
  policy/custom/assignments/LogAnalytics.bicep
  policy/custom/assignments/Tags.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

changed the pOlicyScopedId var to be set by using the MGResourceID Function
  policy/custom/assignments/AKS.bicep
  policy/custom/assignments/DDoS.bicep
  policy/custom/assignments/DNSPrivateEndpoints.bicep
  policy/custom/assignments/DefenderForCloud.bicep
  policy/custom/assignments/LogAnalytics.bicep
  policy/custom/assignments/Network.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

fixed BCP321 warning
  azresources/security/key-vault-key-rsa2048.bicep
Due: none

fixed the remaining linter warnings
  azresources/containers/aks/main.bicep
  azresources/data/sqldb/sqldb-with-cmk.bicep
  azresources/data/sqldb/sqldb-without-cmk.bicep
  azresources/data/sqlmi/sqlmi-with-cmk.bicep
  azresources/data/sqlmi/sqlmi-without-cmk.bicep
  policy/custom/assignments/AKS.bicep
  policy/custom/assignments/DDoS.bicep
  policy/custom/assignments/DNSPrivateEndpoints.bicep
  policy/custom/assignments/DefenderForCloud.bicep
  policy/custom/assignments/LogAnalytics.bicep
  policy/custom/assignments/Network.bicep
  policy/custom/assignments/Tags.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

fixed the remaining linter errors in the policy definitions
  bicepconfig.json
  policy/custom/definitions/policyset/AKS.bicep
  policy/custom/definitions/policyset/AKS.parameters.json
  policy/custom/definitions/policyset/DefenderForCloud.bicep
  policy/custom/definitions/policyset/DefenderForCloud.parameters.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
  policy/custom/definitions/policyset/Network.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

updated the linter rules
  bicepconfig.json
Due: none

Fixed Bug on policy defnition
  policy/builtin/assignments/location.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Fixed the AKS policy deployment
  policy/custom/definitions/policyset/AKS.bicep
  policy/custom/definitions/policyset/AKS.parameters.json
Due: .pipelines/policy.yml, pipelines/policy.yml

Commit 95556ddd: changed the extensionResourceId function to tenantResourceId for all built-in polify definitions
  policy/custom/definitions/policyset/DefenderForCloud.bicep
  policy/custom/definitions/policyset/DefenderForCloud.parameters.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
  policy/custom/definitions/policyset/Network.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

fixed linter warnings in policy files
  policy/custom/assignments/AKS.bicep
  policy/custom/assignments/DDoS.bicep
  policy/custom/assignments/DNSPrivateEndpoints.bicep
  policy/custom/assignments/DefenderForCloud.bicep
  policy/custom/assignments/LogAnalytics.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

changed the invalid dummy service alert phone number to a valid phone number
  config/logging/CanadaESLZ-main/logging.parameters.json
  config/networking/CanadaESLZ-main/hub-azfw/hub-network.parameters.json
  config/networking/CanadaESLZ-main/hub-nva/hub-network.parameters.json
Due: none

updated AKS version in the Data Archetypes
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
Due: none

Changed hte AKS version to only have the Major.Minor
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
Due: none

Added the patch version to the AKS versions in the Data Archetypes
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
Due: none
