Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/platform-logging.yml, .pipelines/policy.yml, .pipelines/roles.yml, pipelines/platform-logging.yml, pipelines/policy.yml

.pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

.pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

.pipelines/roles.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployRoleStage
    displayName: Deploy Custom Roles Stage
    jobs:
    - job: CustomRolesJob
      displayName: Custom Roles Job
      steps:
      - template: templates/steps/create-roles.yml
        parameters:
          description: Custom Role
  ...

pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

Flexible policy assignment parameters JSON files (#222)
  .pipelines/policy.yml
  .pipelines/templates/steps/assign-policy.yml
Due: .pipelines/policy.yml

Externalize Log Analytics Workspace parameters when loading pipeline variables (#220)
  .pipelines/platform-connectivity-hub-azfw.yml
  .pipelines/platform-connectivity-hub-nva.yml
  .pipelines/policy.yml
  .pipelines/templates/steps/deploy-subscription.yml
  .pipelines/templates/steps/load-log-analytics-vars.yml
Due: .pipelines/policy.yml

Fix hyperlinks, language neutral and relative refs
  docs/gc-30-day-cloud-guardrails.md
Due: none

Initial GC 30-day cloud guardrails compliance/guidance (#226)
  docs/gc-30-day-cloud-guardrails.md
Due: none

Updating recommendations to reflect licensing reqs
  README.md
  docs/gc-30-day-cloud-guardrails.md
Due: none

updated documentation
  docs/archetypes/generic-subscription.md
  docs/architecture.md
  docs/media/archetypes/egressvirtualApplianceIP.jpg
Due: none

Update docs/archetypes/generic-subscription.md
  docs/archetypes/generic-subscription.md
Due: none

Update docs/architecture.md
  docs/architecture.md
Due: none

Update networking documentation for generic subscription archetype (#230)
  docs/archetypes/generic-subscription.md
  docs/architecture.md
  docs/media/archetypes/egressvirtualApplianceIP.jpg
Due: none

Use built-in policy for Cosmos DB for Defender Plan
  policy/custom/definitions/policy/DefenderForCloud-Deploy-DefenderPlan-CosmosDB/azurepolicy.config.json
  policy/custom/definitions/policy/DefenderForCloud-Deploy-DefenderPlan-CosmosDB/azurepolicy.parameters.json
  policy/custom/definitions/policy/DefenderForCloud-Deploy-DefenderPlan-CosmosDB/azurepolicy.rules.json
  policy/custom/definitions/policyset/DefenderForCloud.bicep
  policy/custom/definitions/policyset/DefenderForCloud.parameters.json
Due: .pipelines/policy.yml, pipelines/policy.yml

Add branch config
  config/variables/CanadaESLZ-cosmosDBDefenderPlan.yml
Due: none

Remove branch config
  config/variables/CanadaESLZ-cosmosDBDefenderPlan.yml
Due: none

Use built-in policy for Cosmos DB for Defender Plan (#232)
  policy/custom/definitions/policy/DefenderForCloud-Deploy-DefenderPlan-CosmosDB/azurepolicy.config.json
  policy/custom/definitions/policy/DefenderForCloud-Deploy-DefenderPlan-CosmosDB/azurepolicy.parameters.json
  policy/custom/definitions/policy/DefenderForCloud-Deploy-DefenderPlan-CosmosDB/azurepolicy.rules.json
  policy/custom/definitions/policyset/DefenderForCloud.bicep
  policy/custom/definitions/policyset/DefenderForCloud.parameters.json
Due: .pipelines/policy.yml, pipelines/policy.yml

Updating recommendations to reflect licensing reqs (#229)
  README.md
  docs/gc-30-day-cloud-guardrails.md
Due: none

Fix issue #233
  scripts/onboarding/run-pipelines.bat
Due: none

Delete aef2d8e7-284e-4855-942b-6afc0469d1d5_generic-subscription_canadacentral.json
  config/subscriptions/ocag148outlook-skeeler-fix/pubsecLandingZonesDevTest/aef2d8e7-284e-4855-942b-6afc0469d1d5_generic-subscription_canadacentral.json
Due: none

Delete ocag148outlook-main.yml
  config/variables/ocag148outlook-main.yml
Due: none

Fix order of `platform-connectivity-hub-azfw-policy` pipeline listed in run-pipelines.bat script #233 (#234)
  scripts/onboarding/run-pipelines.bat
Due: none

Move subscription config to parameters JSON and update logging pipeline
  .pipelines/platform-logging.yml
  .pipelines/templates/steps/deploy-platform-logging.yml
  config/logging/CanadaESLZ-migrateLAWConfigToParameters/logging.parameters.json
  config/variables/CanadaESLZ-migrateLAWConfigToParameters.yml
  config/variables/common.yml
Due: .pipelines/platform-logging.yml

Fix typo
  .pipelines/templates/steps/deploy-platform-logging.yml
Due: .pipelines/platform-logging.yml

Update policy pipeline to use logging config file
  .pipelines/policy.yml
  .pipelines/templates/steps/load-log-analytics-vars.yml
Due: .pipelines/policy.yml

Fix typo in environment approval check
  .pipelines/policy.yml
Due: .pipelines/policy.yml

Update debug message
  .pipelines/templates/steps/load-log-analytics-vars.yml
Due: none

Update hub networking pipelines to use logging config file
  .pipelines/platform-connectivity-hub-azfw.yml
  .pipelines/platform-connectivity-hub-nva.yml
Due: none

Add missing variable
  .pipelines/platform-connectivity-hub-azfw.yml
  .pipelines/platform-connectivity-hub-nva.yml
Due: none

Add logAnalyticsWorkspaceResourceId to archetypes
  schemas/latest/landingzones/lz-generic-subscription.json
  schemas/latest/landingzones/lz-healthcare.json
  schemas/latest/landingzones/lz-machinelearning.json
  schemas/latest/landingzones/types/logAnalyticsWorkspaceId.json
  schemas/latest/readme.md
Due: none

Detect logAnalyticsWorkspaceResourceId and when not present, use pipeline variables to set the value.
  .pipelines/subscriptions.yml
  .pipelines/templates/steps/config-subscription.yml
  .pipelines/templates/steps/deploy-subscription.yml
Due: none

Ensure bash variables are interpretted
  .pipelines/templates/steps/load-log-analytics-vars.yml
Due: none

Move LAW config loading to deploy-subscription.yml
  .pipelines/subscriptions.yml
  .pipelines/templates/steps/deploy-subscription.yml
Due: none

Fix file path
  .pipelines/templates/steps/deploy-subscription.yml
Due: none

Add branch config
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
Due: none

Add missing path
  .pipelines/templates/steps/deploy-subscription.yml
Due: none

Fix variable definition
  .pipelines/subscriptions.yml
  .pipelines/templates/steps/deploy-subscription.yml
Due: none

Fix approach for loading log analytics workspace config
  .pipelines/subscriptions.yml
  .pipelines/templates/jobs/deploy-subscription.yml
  .pipelines/templates/steps/deploy-subscription.yml
Due: none

Add subscription with LAW Resource ID
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
Due: none

Add logAnalyticsWorkspaceResourceId parameter to examples
  tests/schemas/lz-generic-subscription/FullDeployment-With-Hub.json
  tests/schemas/lz-generic-subscription/FullDeployment-With-Location.json
  tests/schemas/lz-generic-subscription/FullDeployment-Without-Hub.json
  tests/schemas/lz-healthcare/FullDeployment-With-Hub.json
  tests/schemas/lz-healthcare/FullDeployment-With-Location.json
  tests/schemas/lz-healthcare/FullDeployment-Without-Hub.json
  tests/schemas/lz-machinelearning/FullDeployment-With-Hub.json
  tests/schemas/lz-machinelearning/FullDeployment-With-Location.json
  tests/schemas/lz-machinelearning/FullDeployment-Without-Hub.json
Due: none

Update archetype docs
  docs/archetypes/generic-subscription.md
  docs/archetypes/healthcare.md
  docs/archetypes/machinelearning.md
Due: none

Update archetype diagrams
  docs/media/architecture/archetype-generic-subscription.jpg
  docs/media/architecture/archetype-healthcare.jpg
  docs/media/architecture/archetype-machinelearning.jpg
  docs/visio/05 - Archetypes.vsdx
Due: none

Delete obsolete file
  docs/onboarding/ado.md
Due: none

Path conditions:
  .pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, .pipelines/platform-logging.yml, .pipelines/templates/steps/deploy-platform-logging.yml
  .pipelines/policy.yml: any of: policy, .pipelines/policy.yml, .pipelines/templates/steps/deploy-policy.yml
  .pipelines/roles.yml: any of: roles, .pipelines/roles.yml
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml
