Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/platform-logging.yml, .pipelines/policy.yml, .pipelines/roles.yml, pipelines/platform-logging.yml, pipelines/policy.yml

.pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

.pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

.pipelines/roles.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployRoleStage
    displayName: Deploy Custom Roles Stage
    jobs:
    - job: CustomRolesJob
      displayName: Custom Roles Job
      steps:
      - template: templates/steps/create-roles.yml
        parameters:
          description: Custom Role
  ...

pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

Update onboarding guide
  config/variables/common.yml
  docs/onboarding/azure-devops-pipelines.md
Due: none

Fix link
  docs/onboarding/azure-devops-pipelines.md
Due: none

Fix typos and formatting
  docs/onboarding/azure-devops-pipelines.md
Due: none

Add note on new param in common.yml
  docs/onboarding/azure-devops-pipelines.md
Due: none

Update existing configuration to new structure
  config/logging/CanadaESLZ-main/logging.parameters.json
  config/logging/devopsincanada-main/logging.parameters.json
  config/variables/CanadaESLZ-main.yml
  config/variables/devopsincanada-main.yml
Due: none

Fixed formatting
  docs/onboarding/azure-devops-pipelines.md
Due: none

Add benefits for this migration
  docs/onboarding/azure-devops-pipelines.md
Due: none

Update TOC
  docs/onboarding/azure-devops-pipelines.md
Due: none

Remove LAW Resource Id from subscription
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
Due: none

Remove branch config
  config/logging/CanadaESLZ-migrateLAWConfigToParameters/logging.parameters.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-migrateLAWConfigToParameters/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/variables/CanadaESLZ-migrateLAWConfigToParameters.yml
Due: none

Add deployment example
  docs/archetypes/logging.md
Due: none

Renamed "Central Logging" to "Logging"
  docs/archetypes/authoring-guide.md
  docs/archetypes/logging.md
  docs/architecture.md
  docs/onboarding/azure-devops-pipelines.md
Due: none

Add JSON schema for logging
  config/logging/CanadaESLZ-main/logging.parameters.json
  config/logging/devopsincanada-main/logging.parameters.json
  schemas/latest/landingzones/lz-platform-logging.json
  tests/schemas/run-tests.sh
Due: none

Update doc with schema definition
  docs/archetypes/logging.md
Due: none

Update archetype readme
  schemas/latest/readme.md
Due: none

Update github actions for consistency & PR checks
  .github/workflows/consistency-check.yml
  .github/workflows/pull-request-check.yml
Due: none

Update pipeline to validate parameters prior to deployment
  .pipelines/templates/steps/deploy-platform-logging.yml
Due: .pipelines/platform-logging.yml

Add json schema test cases
  tests/schemas/lz-platform-logging/BudgetIsFalse.json
  tests/schemas/lz-platform-logging/EmptyResourceTags.json
  tests/schemas/lz-platform-logging/EmptySubscriptionTags.json
  tests/schemas/lz-platform-logging/FullDeployment.json
  tests/schemas/lz-platform-logging/WithoutSubscriptionRoleAssignments.json
Due: none

Add deployment scenarios
  docs/archetypes/logging.md
  tests/schemas/lz-platform-logging/FullDeployment-With-Location.json
Due: none

Add branch config for testing
  config/logging/CanadaESLZ-migrateLAWConfigToParameters/logging.parameters.json
  config/variables/CanadaESLZ-migrateLAWConfigToParameters.yml
Due: none

Remove branch config for testing
  config/logging/CanadaESLZ-migrateLAWConfigToParameters/logging.parameters.json
  config/variables/CanadaESLZ-migrateLAWConfigToParameters.yml
Due: none

Update types for diagnostic settings
  policy/builtin/assignments/pbmm.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Add branch config
  config/variables/CanadaESLZ-pbmmPolicy.yml
Due: none

Update HITRUST/HIPAA assignment parameters
  policy/builtin/assignments/hitrust-hipaa.bicep
  policy/builtin/assignments/hitrust-hipaa.parameters.json
Due: .pipelines/policy.yml, pipelines/policy.yml

Update resource types for logs
  policy/builtin/assignments/hitrust-hipaa.bicep
  policy/builtin/assignments/pbmm.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Remove branch config
  config/variables/CanadaESLZ-pbmmPolicy.yml
Due: none

Metrics disabled as part of auditing for diagnostic settings
  policy/builtin/assignments/hitrust-hipaa.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

PBMM & HITRUST/HIPAA policy update (#238)
  policy/builtin/assignments/hitrust-hipaa.bicep
  policy/builtin/assignments/hitrust-hipaa.parameters.json
  policy/builtin/assignments/pbmm.bicep
Due: .pipelines/policy.yml, pipelines/policy.yml

Add comment for nsg storage account prefix var
  config/variables/CanadaESLZ-main.yml
  config/variables/devopsincanada-main.yml
Due: none

Update azure-devops-pipelines.md
  docs/onboarding/azure-devops-pipelines.md
Due: none

Update azure-devops-pipelines.md (#242)
  docs/onboarding/azure-devops-pipelines.md
Due: none

Ensure subscription scoped deployments are unique per region
  .pipelines/templates/steps/deploy-platform-logging.yml
  landingzones/lz-platform-logging/main.bicep
  landingzones/scaffold-subscription.bicep
Due: .pipelines/platform-logging.yml, pipelines/platform-logging.yml

Add branch config for testing multi-region deployment
  .pipelines/platform-logging.yml
  config/logging/CanadaESLZ-multiRegionLoggingInSameSubscription/logging-ce.parameters.json
  config/logging/CanadaESLZ-multiRegionLoggingInSameSubscription/logging.parameters.json
  config/variables/CanadaESLZ-multiRegionLoggingInSameSubscription.yml
Due: .pipelines/platform-logging.yml

Update display name
  .pipelines/platform-logging.yml
  .pipelines/templates/steps/deploy-platform-logging.yml
Due: .pipelines/platform-logging.yml

Remove branch testing config
  .pipelines/platform-logging.yml
  config/logging/CanadaESLZ-multiRegionLoggingInSameSubscription/logging-ce.parameters.json
  config/logging/CanadaESLZ-multiRegionLoggingInSameSubscription/logging.parameters.json
  config/variables/CanadaESLZ-multiRegionLoggingInSameSubscription.yml
Due: .pipelines/platform-logging.yml

Support logging infrastructure for multiple regions in same subscription (#244)
  .pipelines/platform-logging.yml
  .pipelines/templates/steps/deploy-platform-logging.yml
  landingzones/lz-platform-logging/main.bicep
  landingzones/scaffold-subscription.bicep
Due: .pipelines/platform-logging.yml, pipelines/platform-logging.yml

Update Private DNS Zone policy to support multiple dnsZoneConfigs
  policy/custom/definitions/policyset/DNSPrivateEndpoints.bicep
  policy/custom/definitions/policyset/DNSPrivateEndpoints.parameters.json
  policy/custom/definitions/policyset/templates/DNS-PrivateEndpoints/azurepolicy.json
Due: .pipelines/policy.yml, pipelines/policy.yml

Path conditions:
  .pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, .pipelines/platform-logging.yml, .pipelines/templates/steps/deploy-platform-logging.yml
  .pipelines/policy.yml: any of: policy, .pipelines/policy.yml, .pipelines/templates/steps/deploy-policy.yml
  .pipelines/roles.yml: any of: roles, .pipelines/roles.yml
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml
