Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/roles.yml, pipelines/platform-logging.yml, pipelines/policy.yml

.pipelines/roles.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployRoleStage
    displayName: Deploy Custom Roles Stage
    jobs:
    - job: CustomRolesJob
      displayName: Custom Roles Job
      steps:
      - template: templates/steps/create-roles.yml
        parameters:
          description: Create Custom Roles
  ...

pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

Align policy definition & assignment names
  .pipelines/policy.yml
  docs/policy/authoring-guide.md
  docs/policy/readme.md
  policy/custom/assignments/AKS.bicep
  policy/custom/assignments/AKS.parameters.json
  policy/custom/assignments/DDoS.bicep
  policy/custom/assignments/DDoS.parameters.json
  policy/custom/assignments/DNSPrivateEndpoints.bicep
  policy/custom/assignments/DNSPrivateEndpoints.parameters.json
  policy/custom/assignments/DefenderForCloud.bicep
  policy/custom/assignments/DefenderForCloud.parameters.json
  policy/custom/assignments/Network.bicep
  policy/custom/assignments/Network.parameters.json
  policy/custom/assignments/Tags.bicep
  policy/custom/assignments/Tags.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-OSSDB/azurepolicy.config.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-OSSDB/azurepolicy.parameters.json
  policy/custom/definitions/policy/ASC-Deploy-Defender-OSSDB/azurepolicy.rules.json
  policy/custom/definitions/policyset/DefenderForCloud.bicep
  policy/custom/definitions/policyset/DefenderForCloud.parameters.json
  policy/custom/definitions/policyset/EnableLogAnalytics.parameters.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
  policy/custom/definitions/policyset/LogAnalytics.parameters.json
Due: pipelines/policy.yml

Fix file name
  docs/policy/readme.md
Due: none

Fix file names
  docs/policy/readme.md
  policy/custom/assignments/LogAnalytics.bicep
  policy/custom/assignments/LogAnalytics.parameters.json
Due: pipelines/policy.yml

Add branch config for testing
  config/variables/CanadaESLZ-branding.yml
Due: none

Remove branch config
  config/variables/CanadaESLZ-branding.yml
Due: none

Update Service Health configuration in sample parameters JSON (#80)
  azresources/service-health/service-health-caller-params.json
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
Due: none

Platform Management Group alignment with Reference Architecture (#76)
  config/variables/CanadaESLZ-main.yml
  config/variables/devopsincanada-main.yml
  docs/archetypes/logging.md
  docs/architecture.md
  docs/media/architecture/management-group-structure.jpg
  docs/onboarding/ado.md
  management-groups/structure.bicep
Due: none

chore: remove unneeded files from merge
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/devopsincanada-main/pubsec/LandingZones/DevTest/248e2ceb-23b4-41e7-bd3f-3d28594ca842_generic-subscription_canadacentral.json
  config/subscriptions/devopsincanada-main/pubsec/LandingZones/DevTest/802e608f-f31b-4a10-86da-7fbb8f660a10_generic-subscription_canadacentral.json
  config/variables/devopsincanada-main.yml
Due: none

feat: disable telemetry
  config/telemetry.json
Due: none

feat: remove required tags
  policy/custom/definitions/policyset/Tags.parameters.json
Due: pipelines/policy.yml

Update schema changelog format
  schemas/latest/readme.md
Due: none

Add utility script to run schema tests
  tests/schemas/run-tests.sh
Due: none

Update JSON formatting
  tests/schemas/lz-generic-subscription/BudgetIsFalse.json
  tests/schemas/lz-generic-subscription/BudgetIsTrue.json
  tests/schemas/lz-generic-subscription/EmptySubscriptionTags.json
  tests/schemas/lz-generic-subscription/FullDeployment-With-Hub.json
  tests/schemas/lz-generic-subscription/FullDeployment-Without-Hub.json
  tests/schemas/lz-generic-subscription/FullDeployment.json
  tests/schemas/lz-generic-subscription/WithOptionalSubnets.json
  tests/schemas/lz-generic-subscription/WithoutCustomDNS.json
Due: none

Document deployment scenarios using test cases
  docs/archetypes/generic-subscription.md
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-generic-subscription/readme.md
Due: none

Update table alignment
  docs/archetypes/generic-subscription.md
Due: none

Update TOC
  docs/archetypes/generic-subscription.md
Due: none

Update reference in comment
  landingzones/lz-generic-subscription/main.bicep
Due: none

fix: add a variable for log retention days
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  config/variables/cdssnc-main.yml
Due: none

Updated docs
  docs/archetypes/generic-subscription.md
  schemas/latest/readme.md
Due: none

Fix table format
  schemas/latest/readme.md
Due: none

Update heading
  landingzones/lz-generic-subscription/readme.md
Due: none

Document test cases as deployment scenarios
  docs/archetypes/machinelearning.md
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/readme.md
  tests/schemas/lz-machinelearning/BudgetIsTrue.json
  tests/schemas/lz-machinelearning/EmptyResourceTags.json
  tests/schemas/lz-machinelearning/EmptySubscriptionTags.json
  tests/schemas/lz-machinelearning/FullDeployment-With-Hub.json
  tests/schemas/lz-machinelearning/FullDeployment-Without-Hub.json
  tests/schemas/lz-machinelearning/SQLDB-aadAuthOnly.json
  tests/schemas/lz-machinelearning/SQLDB-mixedAuth.json
  tests/schemas/lz-machinelearning/SQLDB-sqlAuth.json
  tests/schemas/lz-machinelearning/WithoutCMK.json
Due: none

Update links to deployment scenarios
  landingzones/lz-generic-subscription/readme.md
  landingzones/lz-machinelearning/readme.md
Due: none

remove saving connectionstring in keyvault
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-machinelearning/lz.bicep
Due: none

Document test cases as deployment scenarios
  docs/archetypes/healthcare.md
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-healthcare/readme.md
  tests/schemas/lz-healthcare/BudgetIsTrue.json
  tests/schemas/lz-healthcare/EmptyResourceTags.json
  tests/schemas/lz-healthcare/EmptySubscriptionTags.json
  tests/schemas/lz-healthcare/FullDeployment-With-Hub.json
  tests/schemas/lz-healthcare/FullDeployment-Without-Hub.json
  tests/schemas/lz-healthcare/FullDeployment-aadAuthOnly.json
  tests/schemas/lz-healthcare/FullDeployment-mixedAuth.json
  tests/schemas/lz-healthcare/FullDeployment-sqlAuth.json
  tests/schemas/lz-healthcare/SQLDB-aadAuthOnly.json
  tests/schemas/lz-healthcare/SQLDB-mixedAuth.json
  tests/schemas/lz-healthcare/SQLDB-sqlAuth.json
  tests/schemas/lz-healthcare/SQLDBIsFalse.json
  tests/schemas/lz-healthcare/WithoutCMK.json
Due: none

Fix formatting
  docs/archetypes/generic-subscription.md
  docs/archetypes/healthcare.md
  docs/archetypes/machinelearning.md
Due: none

Fix formatting
  docs/archetypes/healthcare.md
  docs/archetypes/machinelearning.md
Due: none

Remove uuid as format check
  schemas/latest/landingzones/types/hubNetwork.json
Due: none

Update change log for json schema
  schemas/latest/readme.md
Due: none

Support tag enforcement with audit and deny
  policy/custom/definitions/policyset/Tags.bicep
  policy/custom/definitions/policyset/Tags.parameters.json
  policy/custom/definitions/policyset/templates/Tags-Require-Tag-ResourceGroup/azurepolicy.json
Due: pipelines/policy.yml

add branch config
  config/variables/CanadaESLZ-tagpolicy.yml
Due: none

Fix parameter definition
  policy/custom/definitions/policyset/templates/Tags-Require-Tag-ResourceGroup/azurepolicy.json
Due: pipelines/policy.yml

Tag enforcement in audit mode
  policy/custom/definitions/policyset/Tags.parameters.json
Due: pipelines/policy.yml

Reset configs
  config/variables/CanadaESLZ-tagpolicy.yml
  policy/custom/definitions/policyset/Tags.parameters.json
Due: pipelines/policy.yml

Remove connection string from being added to Key Vault (#90)
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-machinelearning/lz.bicep
Due: none

Ensure PRs does not trigger pipeline runs
  .pipelines/management-groups.yml
  .pipelines/platform-connectivity-hub-azfw-policy.yml
  .pipelines/platform-connectivity-hub-azfw.yml
  .pipelines/platform-connectivity-hub-nva.yml
  .pipelines/platform-logging.yml
  .pipelines/policy.yml
  .pipelines/roles.yml
  .pipelines/subscriptions.yml
Due: .pipelines/roles.yml

feat: Support Audit & Deny effects for Tag policy
  .pipelines/management-groups.yml
  .pipelines/platform-logging.yml
  .pipelines/policy.yml
  policy/custom/definitions/policyset/Tags.bicep
  policy/custom/definitions/policyset/Tags.parameters.json
  policy/custom/definitions/policyset/templates/Tags-Require-Tag-ResourceGroup/azurepolicy.json
Due: pipelines/policy.yml

Support for disabling tag policies
  policy/custom/definitions/policyset/Tags.bicep
  policy/custom/definitions/policyset/templates/Tags-Require-Tag-ResourceGroup/azurepolicy.json
Due: pipelines/policy.yml

Path conditions:
  .pipelines/roles.yml: any of: roles, .pipelines/roles.yml
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml
