Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/roles.yml, pipelines/platform-logging.yml, pipelines/policy.yml

.pipelines/roles.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployRoleStage
    displayName: Deploy Custom Roles Stage
    jobs:
    - job: CustomRolesJob
      displayName: Custom Roles Job
      steps:
      - template: templates/steps/create-roles.yml
        parameters:
          description: Create Custom Roles
  ...

pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

Merged PR 117: Central Logging documentation
  azresources/automation/automation-account.bicep
  azresources/cost/budget-subscription.bicep
  azresources/monitor/log-analytics.bicep
  landingzones/lz-platform-logging/main.bicep
  tests/landingzones/lz-healthcare/deployment-tests/main.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/main.bicep
Due: pipelines/platform-logging.yml

Merged PR 118: Hub Network documentation
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/fortinet-vm.bicep
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/lb-firewalls-hub.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/ubuntu-fw-vm.bicep
Due: none

Merged PR 119: Azure Policy documentation
  policy/builtin/assignments/asb.bicep
  policy/builtin/assignments/cis-msft-130.bicep
  policy/builtin/assignments/fedramp-moderate.bicep
  policy/builtin/assignments/hitrust-hipaa.bicep
  policy/builtin/assignments/location.bicep
  policy/builtin/assignments/nist80053r4.bicep
  policy/builtin/assignments/nist80053r5.bicep
  policy/builtin/assignments/pbmm.bicep
  policy/custom/assignments/aks.bicep
  policy/custom/assignments/asc.bicep
  policy/custom/assignments/ddos.bicep
  policy/custom/assignments/dns-private-endpoints.bicep
  policy/custom/assignments/loganalytics.bicep
  policy/custom/assignments/network.bicep
  policy/custom/assignments/tags.bicep
  policy/custom/definitions/policyset/DNSPrivateEndpoints.bicep
  policy/custom/definitions/policyset/EnableAzureDefender.bicep
  policy/custom/definitions/policyset/EnableLogAnalytics.bicep
  policy/custom/definitions/policyset/Network.bicep
  policy/custom/definitions/policyset/Tags.bicep
Due: pipelines/policy.yml

Merged PR 121: Healthcare & Machine Learning Archetype documentation
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/networking.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
Due: none

Merged PR 122: Roles documentation
  azresources/automation/automation-account.bicep
  azresources/data/sqldb/main.bicep
  azresources/data/sqldb/sqldb-with-cmk-enable-tde.bicep
  azresources/data/sqldb/sqldb-with-cmk.bicep
  azresources/data/sqldb/sqldb-without-cmk.bicep
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  roles/la-vminsights-readonly.bicep
  roles/lz-appowner.bicep
  roles/lz-subowner.bicep
Due: .pipelines/roles.yml

Merged PR 123: Improve networking parameters
  .pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  ONBOARDING_GUIDE_ADO.md
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-generic-subscription/networking.bicep
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-machinelearning/networking.bicep
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  tests/landingzones/lz-healthcare/deployment-tests/main.bicep
  tests/landingzones/lz-healthcare/deployment-tests/test-runner.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/main.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
Due: none

Merged PR 124: Update Subnet parameter names
  .pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  ONBOARDING_GUIDE_ADO.md
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
Due: none

Merged PR 125: Set RG for NSG diag. logs to NetworkWatcherRG
  policy/builtin/assignments/hitrust-hipaa.parameters.json
Due: pipelines/policy.yml

Merged PR 126: Support for Service Health alerts
  azresources/service-health/service-health-caller-params.json
  azresources/service-health/service-health-params.json
  azresources/service-health/service-health.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  landingzones/lz-generic-subscription/main.bicep
Due: none

Merged PR 127: Support Service Health in Health Care, Machine Learning archetypes
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-logging/main.bicep
  landingzones/scaffold-subscription.bicep
Due: pipelines/platform-logging.yml

Merged PR 129: Update pipeline & config docs
  .pipelines/README.md
  config/subscriptions/README.md
  config/variables/README.md
Due: none

Merged PR 131: Bug fix: Update effect on audit policy
  policy/custom/definitions/policyset/templates/Tags-Audit-Missing-Tag-Resource/azurepolicy.json
Due: pipelines/policy.yml

Merged PR 132: Support Service Health Alerts for Networking & Logging deployments
  .pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  .pipelines/templates/steps/deploy-platform-logging.yml
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-logging/main.bicep
Due: pipelines/platform-logging.yml

Merged PR 133: Add service health configuration
  config/variables/CanadaESLZ-main.yml
Due: none

Merged PR 134: Organize Subscription Budget parameters
  .pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  .pipelines/templates/steps/deploy-platform-logging.yml
  azresources/cost/budget-subscription.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-logging/main.bicep
  landingzones/scaffold-subscription.bicep
  tests/landingzones/lz-healthcare/deployment-tests/test-runner.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
Due: pipelines/platform-logging.yml

Merged PR 135: Organize subscription role assignment parameters
  .pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  .pipelines/templates/steps/deploy-platform-logging.yml
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-logging/main.bicep
  landingzones/scaffold-subscription.bicep
Due: pipelines/platform-logging.yml

Merged PR 136: Improve Generic Subscription parameters
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-generic-subscription/networking.bicep
Due: none

Merged PR 137: Generic Subscription - Remove default parameter values and include example input
  landingzones/lz-generic-subscription/networking.bicep
Due: none

Merged PR 138: Organize Security Center parameters
  .pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  .pipelines/templates/steps/deploy-platform-logging.yml
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-logging/main.bicep
  landingzones/scaffold-subscription.bicep
  tests/landingzones/lz-healthcare/deployment-tests/test-runner.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
Due: pipelines/platform-logging.yml

Merged PR 139: Organize Machine Learning parameters
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-machinelearning/networking.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
Due: none

Merged PR 140: Organize Healthcare archetype parameters
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/networking.bicep
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/networking.bicep
  tests/landingzones/lz-healthcare/deployment-tests/test-runner.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
Due: none

Merged PR 141: Update Healthcare archetype example parameters
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
Due: none

Merged PR 142: Hub Networking with Azure Firewall
  .pipelines/platform-connectivity-hub-azfw-policy.yml
  .pipelines/platform-connectivity-hub-azfw.yml
  .pipelines/templates/steps/deploy-platform-connectivity-hub-azfw-policy.yml
  .pipelines/templates/steps/deploy-platform-connectivity-hub-azfw.yml
  ONBOARDING_GUIDE_ADO.md
  azresources/network/firewall.bicep
  azresources/network/udr/udr-custom.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-platform-connectivity-hub-azfw/azfw-policy/azure-firewall-policy.bicep
  landingzones/lz-platform-connectivity-hub-azfw/azfw-policy/bicepconfig.json
  landingzones/lz-platform-connectivity-hub-azfw/hub-vnet/hub-vnet-routes.bicep
  landingzones/lz-platform-connectivity-hub-azfw/hub-vnet/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-azfw/main-azfw-policy.bicep
  landingzones/lz-platform-connectivity-hub-azfw/main-azfw-policy.parameters-sample.json
  landingzones/lz-platform-connectivity-hub-azfw/main.bicep
  landingzones/lz-platform-connectivity-hub-azfw/main.parameters-sample.json
  landingzones/lz-platform-connectivity-hub-azfw/mrz-vnet/mrz-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet/hub-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet/lb-firewalls-hub.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/mrz-vnet/mrz-vnet.bicep
  landingzones/lz-platform-connectivity-hub-nva/nva/fortinet-vm.bicep
  landingzones/lz-platform-connectivity-hub-nva/nva/ubuntu-fw-vm.bicep
  landingzones/lz-platform-connectivity-hub-nva/nva/ubuntu-fw.sh
  landingzones/lz-platform-logging/main.bicep
  policy/custom/definitions/policy/LA-Microsoft.Network-azureFirewalls/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Network-azureFirewalls/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Network-azureFirewalls/azurepolicy.rules.json
  policy/custom/definitions/policyset/EnableLogAnalytics.bicep
  tests/landingzones/lz-healthcare/deployment-tests/main.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/main.bicep
Due: pipelines/platform-logging.yml, pipelines/policy.yml

Merged PR 143: Revise onboarding guide
  ONBOARDING_GUIDE_ADO.md
Due: none

Merged PR 144: Bring-your-own DNS IPs for archetypes
  azresources/network/private-dns-zone-privatelinks.bicep
  azresources/network/private-dns-zone.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-generic-subscription/main.parameters-sample.json
  landingzones/lz-generic-subscription/networking.bicep
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-healthcare/main.parameters-sample.json
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/main.parameters-sample.json
  landingzones/lz-machinelearning/networking.bicep
  landingzones/lz-platform-connectivity-hub-azfw/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  policy/custom/definitions/policyset/templates/DNS-PrivateEndpoints/azurepolicy.json
  tests/landingzones/lz-healthcare/deployment-tests/test-runner.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
Due: pipelines/policy.yml

Merged PR 145: Management Restricted Zone (MRZ) Routing
  .pipelines/templates/steps/deploy-platform-connectivity-hub-nva.yml
  config/variables/CanadaESLZ-main.yml
  landingzones/lz-platform-connectivity-hub-nva/hub-vnet/lb-firewalls-hub.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
Due: none

Merged PR 146: Additional parameters for Service Health configuration
  azresources/service-health/service-health.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/subscriptions/devopsincanada-skeeler/pubsec/LandingZones/DevTest/248e2ceb-23b4-41e7-bd3f-3d28594ca842_generic-subscription_canadacentral.json
  config/subscriptions/devopsincanada-skeeler/pubsec/LandingZones/DevTest/802e608f-f31b-4a10-86da-7fbb8f660a10_generic-subscription_canadacentral.json
  config/variables/devopsincanada-skeeler.yml
  landingzones/lz-generic-subscription/main.bicep
  landingzones/lz-healthcare/main.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-platform-connectivity-hub-azfw/main.bicep
  landingzones/lz-platform-connectivity-hub-nva/main.bicep
  landingzones/lz-platform-logging/main.bicep
  landingzones/scaffold-subscription.bicep
Due: pipelines/platform-logging.yml

Merged PR 147: Remove Private DNS Zone for adf.azure.com
  azresources/analytics/adf/adf-with-cmk.bicep
  azresources/analytics/adf/adf-without-cmk.bicep
  azresources/analytics/adf/main.bicep
  azresources/network/private-dns-zone-privatelinks.bicep
  landingzones/lz-healthcare/lz.bicep
  landingzones/lz-healthcare/networking.bicep
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/networking.bicep
  policy/custom/definitions/policyset/DNSPrivateEndpoints.parameters.json
Due: pipelines/policy.yml

#177 initial schema definitions
  landingzones/schemas/lz-generic-subscription-schema.json
  landingzones/schemas/lz-healthcare-schema.json
  landingzones/schemas/lz-machinelearning-schema.json
Due: none

#177 - Add schema validation for generic subscription
  landingzones/schemas/lz-generic-subscription-schema.json
  landingzones/schemas/lz-healthcare-schema.json
  landingzones/schemas/lz-machinelearning-schema.json
  schemas/v1.0.0/landingzones/lz-generic-subscription.json
  schemas/v1.0.0/landingzones/types/hubNetwork.json
  schemas/v1.0.0/landingzones/types/resourceTags.json
  schemas/v1.0.0/landingzones/types/securityCenter.json
  schemas/v1.0.0/landingzones/types/serviceHealthAlerts.json
  schemas/v1.0.0/landingzones/types/subscriptionBudget.json
  schemas/v1.0.0/landingzones/types/subscriptionRoleAssignments.json
  schemas/v1.0.0/landingzones/types/subscriptionTags.json
  tests/schemas/lz-generic-subscription/BudgetIsFalse.json
  tests/schemas/lz-generic-subscription/BudgetIsTrue.json
  tests/schemas/lz-generic-subscription/EmptyResourceTags.json
  tests/schemas/lz-generic-subscription/EmptySubscriptionTags.json
  tests/schemas/lz-generic-subscription/WithOptionalSubnets.json
  tests/schemas/lz-generic-subscription/WithoutCustomDNS.json
  tests/schemas/lz-generic-subscription/WithoutOptionalSubnets.json
  tests/schemas/notes.txt
  tests/schemas/test-all.ps1
Due: none

#177 - Schema definition for machine learning archetype
  schemas/v1.0.0/landingzones/lz-machinelearning.json
  schemas/v1.0.0/landingzones/types/aks.json
  schemas/v1.0.0/landingzones/types/aml.json
  schemas/v1.0.0/landingzones/types/automation.json
  schemas/v1.0.0/landingzones/types/hubNetwork.json
  schemas/v1.0.0/landingzones/types/hubNetwork.json-works
  schemas/v1.0.0/landingzones/types/keyVault.json
  schemas/v1.0.0/landingzones/types/serviceHealthAlerts.json
  schemas/v1.0.0/landingzones/types/sqldb.json
  schemas/v1.0.0/landingzones/types/sqlmi.json
  schemas/v1.0.0/landingzones/types/subscriptionBudget.json
  schemas/v1.0.0/landingzones/types/subscriptionRoleAssignments.json
  schemas/v1.0.0/landingzones/types/subscriptionTags.json
  tests/schemas/lz-machinelearning/FullDeployment.json
  tests/schemas/test-all.ps1
Due: none

#177 - Add full deployment example for generic sub
  tests/schemas/lz-generic-subscription/FullDeployment.json
Due: none

#177 - delete backup file
  schemas/v1.0.0/landingzones/types/hubNetwork.json-works
Due: none

#177 - add rules for conditional parameters - sqldb and sqlmi
  schemas/v1.0.0/landingzones/types/sqldb.json
  schemas/v1.0.0/landingzones/types/sqlmi.json
  tests/schemas/lz-machinelearning/SQLDBIsFalse.json
  tests/schemas/lz-machinelearning/SQLMIIsFalse.json
Due: none

#177 - schema for healthcare archetype
  schemas/v1.0.0/landingzones/lz-healthcare.json
  schemas/v1.0.0/landingzones/types/synapse.json
  tests/schemas/lz-healthcare/BudgetIsFalse.json
  tests/schemas/lz-healthcare/FullDeployment.json
  tests/schemas/lz-healthcare/SQLDBIsFalse.json
  tests/schemas/lz-machinelearning/BudgetIsFalse.json
Due: none

#177 - Fix default type
  schemas/v1.0.0/landingzones/lz-healthcare.json
Due: none

#177 - Revise test configuration parameter files
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/4f9f8765-911a-4a6d-af60-4bc0473268c0_generic-subscription_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/82f7705e-3386-427b-95b7-cbed91ab29a7_healthcare_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  config/subscriptions/devopsincanada-skeeler/pubsec/LandingZones/DevTest/248e2ceb-23b4-41e7-bd3f-3d28594ca842_generic-subscription_canadacentral.json
  config/subscriptions/devopsincanada-skeeler/pubsec/LandingZones/DevTest/802e608f-f31b-4a10-86da-7fbb8f660a10_generic-subscription_canadacentral.json
  tests/schemas/notes.txt
  tests/schemas/validate-deployment-config.ps1
Due: none

Path conditions:
  .pipelines/roles.yml: any of: roles, .pipelines/roles.yml
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml
