Repository Azure/CanadaPubSecALZ: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/roles.yml, pipelines/platform-logging.yml, pipelines/policy.yml

.pipelines/roles.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployRoleStage
    displayName: Deploy Custom Roles Stage
    jobs:
    - job: CustomRolesJob
      displayName: Custom Roles Job
      steps:
      - template: templates/steps/create-roles.yml
        parameters:
          description: Create Custom Roles
  ...

pipelines/platform-logging.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPlatformLoggingStage
    displayName: Deploy Platform Logging Stage
    jobs:
    - deployment: DeployPlatformLoggingJob
      displayName: Deploy Platform Logging Job
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

pipelines/policy.yml:
  pool:
    vmImage: $[ variables.vmImage ]
  stages:
  - stage: DeployPolicyStage
    displayName: Deploy Policy Stage
    jobs:
    - deployment: EnvionmentApprovalsAndChecks
      displayName: Environment Approvals and Checks
      environment: ${{ variables['Build.SourceBranchName'] }}
      strategy:
  ...

Update method for upgrading Azure CLI
  .github/workflows/consistency-check.yml
  .github/workflows/pull-request-check.yml
Due: none

Update method for upgrading Azure CLI (#128)
  .github/workflows/consistency-check.yml
  .github/workflows/pull-request-check.yml
Due: none

Updated AKS and AppService for Linux schema to verify when deployments are disabled
  docs/archetypes/machinelearning.md
  schemas/latest/landingzones/types/aks.json
  schemas/latest/landingzones/types/appServiceLinuxContainer.json
  tests/schemas/lz-machinelearning/AKSIsFalse.json
  tests/schemas/lz-machinelearning/AppServiceLinuxContainerIsFalse.json
Due: none

applied patch for aks and app service schema tests
  senthuran.patch
Due: none

removed patch file itself
  senthuran.patch
Due: none

typo fix
  docs/archetypes/machinelearning.md
Due: none

Update docs/archetypes/machinelearning.md
  docs/archetypes/machinelearning.md
Due: none

updated typo in appService subnet description
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/networking.bicep
Due: none

updated so networkPlugin variable isn't evaluated if not enabled for aks
  landingzones/lz-machinelearning/lz.bicep
Due: none

Update landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/lz.bicep
Due: none

updated wording to note Premium SKU app service plan may need quota increase
  docs/archetypes/machinelearning.md
Due: none

updated spacing for app service plan quota warning
  docs/archetypes/machinelearning.md
Due: none

set default app service plan to be S1 standard
  docs/archetypes/machinelearning.md
  tests/landingzones/lz-machinelearning/deployment-tests/app-service.bicep
  tests/schemas/lz-machinelearning/AKS-AzureCNI-AzureNP.json
  tests/schemas/lz-machinelearning/AKS-AzureCNI-Calico.json
  tests/schemas/lz-machinelearning/AKS-Kubenet-Calico.json
  tests/schemas/lz-machinelearning/AKSIsFalse.json
  tests/schemas/lz-machinelearning/BudgetIsFalse.json
  tests/schemas/lz-machinelearning/BudgetIsTrue.json
  tests/schemas/lz-machinelearning/EmptyResourceTags.json
  tests/schemas/lz-machinelearning/EmptySubscriptionTags.json
  tests/schemas/lz-machinelearning/FullDeployment-With-Hub.json
  tests/schemas/lz-machinelearning/FullDeployment-Without-Hub.json
  tests/schemas/lz-machinelearning/SQLDB-aadAuthOnly.json
  tests/schemas/lz-machinelearning/SQLDB-mixedAuth.json
  tests/schemas/lz-machinelearning/SQLDB-sqlAuth.json
  tests/schemas/lz-machinelearning/SQLDBIsFalse.json
  tests/schemas/lz-machinelearning/SQLMIIsFalse.json
  tests/schemas/lz-machinelearning/WithoutCMK.json
Due: none

updated to standard tier in config files
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
Due: none

added integration test scripts and doc for app service azure ml deployment, changed default sku to p1v2
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  docs/archetypes/machinelearning.md
  tests/landingzones/lz-machinelearning/deployment-tests/app-service.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
  tests/landingzones/lz-machinelearning/e2e-flow-tests/deploy-to-app-service.sh
  tests/landingzones/lz-machinelearning/e2e-flow-tests/hello-world_model_package.py
  tests/schemas/lz-machinelearning/AKS-AzureCNI-AzureNP.json
  tests/schemas/lz-machinelearning/AKS-AzureCNI-Calico.json
  tests/schemas/lz-machinelearning/AKS-Kubenet-Calico.json
  tests/schemas/lz-machinelearning/AKSIsFalse.json
  tests/schemas/lz-machinelearning/BudgetIsFalse.json
  tests/schemas/lz-machinelearning/BudgetIsTrue.json
  tests/schemas/lz-machinelearning/EmptyResourceTags.json
  tests/schemas/lz-machinelearning/EmptySubscriptionTags.json
  tests/schemas/lz-machinelearning/FullDeployment-With-Hub.json
  tests/schemas/lz-machinelearning/FullDeployment-Without-Hub.json
  tests/schemas/lz-machinelearning/SQLDB-aadAuthOnly.json
  tests/schemas/lz-machinelearning/SQLDB-mixedAuth.json
  tests/schemas/lz-machinelearning/SQLDB-sqlAuth.json
  tests/schemas/lz-machinelearning/SQLDBIsFalse.json
  tests/schemas/lz-machinelearning/SQLMIIsFalse.json
  tests/schemas/lz-machinelearning/WithoutCMK.json
Due: none

updated schema readme to current app service sku default
  schemas/latest/readme.md
Due: none

App service machine learning landing zone support (#127)
  azresources/compute/web/appservice-linux-container.bicep
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/8c6e48a4-4c73-4a1f-9f95-9447804f2c98_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/ec6c5689-db04-4f1e-b76d-834a51dd0e27_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f08c3057-1713-4a6f-b7e6-0df355b60c30_machinelearning_canadacentral.json
  config/subscriptions/CanadaESLZ-main/pubsec/LandingZones/DevTest/f459218a-e8bb-49c9-b768-ee6828a144aa_machinelearning_canadacentral.json
  docs/archetypes/machinelearning.md
  docs/media/architecture/archetype-machinelearning-dataflow.jpg
  docs/media/architecture/archetype-machinelearning-networking.jpg
  docs/media/architecture/archetype-machinelearning.jpg
  docs/visio/05 - Archetypes.vsdx
  landingzones/lz-machinelearning/lz.bicep
  landingzones/lz-machinelearning/main.bicep
  landingzones/lz-machinelearning/networking.bicep
  schemas/latest/landingzones/lz-machinelearning.json
  schemas/latest/landingzones/types/aks.json
  schemas/latest/landingzones/types/appServiceLinuxContainer.json
  schemas/latest/readme.md
  tests/landingzones/lz-machinelearning/deployment-tests/app-service-vnet.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/app-service.bicep
  tests/landingzones/lz-machinelearning/deployment-tests/test-runner.bicep
  tests/landingzones/lz-machinelearning/e2e-flow-tests/deploy-to-app-service.sh
  tests/landingzones/lz-machinelearning/e2e-flow-tests/hello-world_model_package.py
  tests/schemas/lz-machinelearning/AKS-AzureCNI-Calico.json
  tests/schemas/lz-machinelearning/AKS-Kubenet-Calico.json
  tests/schemas/lz-machinelearning/AKSIsFalse.json
  tests/schemas/lz-machinelearning/AppServiceLinuxContainerIsFalse.json
  tests/schemas/lz-machinelearning/BudgetIsFalse.json
  tests/schemas/lz-machinelearning/BudgetIsTrue.json
  tests/schemas/lz-machinelearning/EmptyResourceTags.json
  tests/schemas/lz-machinelearning/EmptySubscriptionTags.json
  tests/schemas/lz-machinelearning/FullDeployment-With-Hub.json
  tests/schemas/lz-machinelearning/FullDeployment-Without-Hub.json
  tests/schemas/lz-machinelearning/SQLDB-aadAuthOnly.json
  tests/schemas/lz-machinelearning/SQLDB-mixedAuth.json
  tests/schemas/lz-machinelearning/SQLDB-sqlAuth.json
  tests/schemas/lz-machinelearning/SQLDBIsFalse.json
  tests/schemas/lz-machinelearning/SQLMIIsFalse.json
  tests/schemas/lz-machinelearning/WithoutCMK.json
Due: none

Add policy for Web App & Function diagnostic settings
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: pipelines/policy.yml

Add branch config for testing
  config/variables/CanadaESLZ-diagPolicy.yml
Due: none

Update policy names
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.config.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: pipelines/policy.yml

Remove branch config
  config/variables/CanadaESLZ-diagPolicy.yml
Due: none

Diagnostic Settings Policies for Azure App Service & Function App (#133)
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: pipelines/policy.yml

Switch to built-in Audit diagnostic setting policy
  policy/custom/definitions/policy/LA-Logs-Diagnostic-Settings/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Logs-Diagnostic-Settings/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Logs-Diagnostic-Settings/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: pipelines/policy.yml

Add branch config for testing
  config/variables/CanadaESLZ-auditDiagPolicy.yml
Due: none

Remove test config
  config/variables/CanadaESLZ-auditDiagPolicy.yml
Due: none

Switch to built-in Audit diagnostic setting policy (#135)
  policy/custom/definitions/policy/LA-Logs-Diagnostic-Settings/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Logs-Diagnostic-Settings/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Logs-Diagnostic-Settings/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: pipelines/policy.yml

Additional support for linux and container scenarios for App Service and Functions
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.rules.json
Due: pipelines/policy.yml

Add branch config
  config/variables/CanadaESLZ-webAppFuncDiagPolicy.yml
Due: none

Remove branch config
  config/variables/CanadaESLZ-webAppFuncDiagPolicy.yml
Due: none

Diagnostic Settings for App Service & Function App (#136)
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-app/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.Web-sites-functionapp/azurepolicy.rules.json
Due: pipelines/policy.yml

Align custom roles to CAF recommendations
  roles/lz-appowner.bicep
  roles/lz-netops.bicep
  roles/lz-secops.bicep
Due: .pipelines/roles.yml

Ensure custom roles are created through roles CI
  .pipelines/roles.yml
Due: .pipelines/roles.yml

Add branch config for testing
  config/variables/CanadaESLZ-cafRoles.yml
Due: none

Update pipeline step name
  .pipelines/roles.yml
Due: .pipelines/roles.yml

Add role description
  roles/la-vminsights-readonly.bicep
Due: .pipelines/roles.yml

Update role description
  roles/lz-subowner.bicep
Due: .pipelines/roles.yml

Remove branch config
  config/variables/CanadaESLZ-cafRoles.yml
Due: none

Align custom role definitions to CAF (#138)
  .pipelines/roles.yml
  roles/la-vminsights-readonly.bicep
  roles/lz-appowner.bicep
  roles/lz-netops.bicep
  roles/lz-secops.bicep
Due: .pipelines/roles.yml

Add diagnostic settings policies for data services
  policy/custom/definitions/policy/LA-Microsoft.AnalysisServices-servers/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.AnalysisServices-servers/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.AnalysisServices-servers/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.Cache-Redis/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Cache-Redis/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Cache-Redis/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.DBForMariaDB-servers/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.DBForMariaDB-servers/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.DBForMariaDB-servers/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.DBforMySQL-servers/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.DBforMySQL-servers/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.DBforMySQL-servers/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.DBforPostgreSQL-servers/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.DBforPostgreSQL-servers/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.DBforPostgreSQL-servers/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.DocumentDB-databaseAccounts/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.DocumentDB-databaseAccounts/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.DocumentDB-databaseAccounts/azurepolicy.rules.json
  policy/custom/definitions/policy/LA-Microsoft.Kusto-clusters/azurepolicy.config.json
  policy/custom/definitions/policy/LA-Microsoft.Kusto-clusters/azurepolicy.parameters.json
  policy/custom/definitions/policy/LA-Microsoft.Kusto-clusters/azurepolicy.rules.json
  policy/custom/definitions/policy/Microsoft.TimeSeriesInsights-environments-Gen2/azurepolicy.config.json
  policy/custom/definitions/policy/Microsoft.TimeSeriesInsights-environments-Gen2/azurepolicy.parameters.json
  policy/custom/definitions/policy/Microsoft.TimeSeriesInsights-environments-Gen2/azurepolicy.rules.json
  policy/custom/definitions/policyset/LogAnalytics.bicep
Due: pipelines/policy.yml

Add branch config for testing
  config/variables/CanadaESLZ-diagSettingPolicies.yml
Due: none

Path conditions:
  .pipelines/roles.yml: any of: roles, .pipelines/roles.yml
  pipelines/platform-logging.yml: any of: landingzones/lz-platform-logging, pipelines/platform-logging.yml, pipelines/templates/steps/deploy-platform-logging.yml
  pipelines/policy.yml: any of: policy, pipelines/policy.yml, pipelines/templates/steps/deploy-policy.yml
